*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCCCCC;
    color: #FFFFFF;

    font-family: 'Montserrat', sans-serif;
}

main{
    width: 70%;

    background-image: linear-gradient(#1D0C20, #651F71);
    border-radius: 10px;
    
    padding: 1.85rem;
    padding-bottom: 0;
    margin: 16px auto;
}

header, section, footer{
    margin-bottom: 20px;
}

.primary-title{
    text-transform: uppercase;
    text-align: center;
    color: #FECD23;
    margin-bottom: 32px;

    font-size: 2.5rem;
}

.description{
    margin-bottom: 40px;
}

.description p{
    text-align: center;
    margin-top: 24px;
    font-size: 1.35rem;
}

.secao-votacao{
    background-image: linear-gradient(#651F71, #1D0C20);
    padding: 1.25rem 1.55rem;
    border-radius: 10px;
}

.secondary-title{
    text-align: center;
    font-weight: 500;
    
    font-size: 2rem;
}

.campos-input{
    margin: 40px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
}

.input{
    width: 65%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.25rem;
}

.box-cards{
    display: flex;
    justify-content: space-around;

    margin-top: 48px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;
    padding: 1.25rem 0.3rem;

    border: 16px solid;
    border-image: linear-gradient(#2638DB, #342987);
    border-image-slice: 1;
    border-radius: 10px;

    background-image: linear-gradient(#4976F2, #73CFFF);

    /* width: 25%; */
}

.card h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.card object{
    /* width: 100%; */
    width: 15rem;
}

.card button{
    background-color: #0E0E0E;

    color: #FFFFFF;

    padding: 0.6rem 1.85rem;

    border: none;
    border-radius: 5px;

    font-size: 1.25rem;

    cursor: pointer;
}

.card button:hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.3s;
}

footer{
    text-align: center;
    padding-bottom: 1.55rem;
}

footer a{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1400px){
    .box-cards{
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .input{
        width: 80%;
    }
}

@media screen and (max-width: 620px){
    main{
        width: 90%;
    }

    .input{
        width: 100%;
    }

    .box-cards{
        flex-direction: column;
        align-items: center;

        gap: 1.5rem;
    }

    .card{
        width: 80%;
    }
}